<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="table-responsive">
          <p><%= render 'admin/shared/error_messages', resource: @comment %></p>
          <%= form_with model: @comment, url: admin_review_comments_path(review_id: @review.id), method: :post, local: true do |f| %>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th colspan="2" class="no-border">
                    <h3 class="text-center" style="margin-bottom: 30px;">レビューのお礼コメント</h3>
                  </th>
                </tr>
              </thead>

              <tr class="no-border" style="width: 100%;">
                <th class="no-border" style="width: 25%; text-align: left; padding-right: 10px;"> 
                  ニックネーム：<span><%= @review.nickname %></span>
                </th>
                <td class="no-border" style="width: 70%; text-align: right;"> 
                  <span><%= @review.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d") %></span>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border text-left">商品名</th>
                <td class="no-border" style="font-size:20px;"><%= @item.name %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border text-left">評価</th>
                <td class="no-border" style="font-size:20px;">
                  <span class="star-rating">
                    <% 5.times do |i| %>
                      <% if i < @review.star %>
                        <span class="star">&#9733;</span> <!-- filled star -->
                      <% else %>
                        <span class="star">&#9734;</span> <!-- empty star -->
                      <% end %>
                    <% end %>
                  </span>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border text-left">コメント</th>
                <td class="no-border"><%= @review.review_content %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border text-left">お礼コメント</th>
                <td class="no-border"><%= f.text_area :content, class: 'custom-textarea-field-1' %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border"></th>
                <td class="text-center no-border">
                  <%= f.submit '新規登録', class: "btn btn-pink custom-btn" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
