<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="table-responsive">
          <%= form_with(model: @customer, url: admin_customer_path(@customer), local: true) do |form| %>
          <%= render "public/shared/error_messages", resource: @customer %>
          <table class="table table-hover table-inverse">

            <thead>
              <tr>
                <th colspan="2" class="no-border">
                  <h3 class="text-center">会員情報編集</h3>
                </th>
              </tr>
            </thead>

            <tbody>

              <tr class="no-border">
                <th class="no-border">会員ID</th>
                <td class="no-border"><%= @customer.id %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border">氏名</th>
                <td class="no-border">
                  <%= form.text_field :last_name, class: 'form-control-2' %>
                  <%= form.text_field :first_name, class: 'form-control-2'%>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">氏名</th>
                <td class="no-border">
                   <%= form.text_field :last_name_kana, class: 'form-control-2' %>
                   <%= form.text_field :first_name_kana, class: 'form-control-2'%>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">郵便番号</th>
                <td class="no-border">
                  <%= form.text_field :postal_code, class: 'form-control-3' %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">住所</th>
                <td class="no-border">
                  <%= form.text_field :address, class: 'form-control-3' %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">電話番号</th>
                <td class="no-border">
                  <%= form.text_field :telephone_number, class: 'form-control-3' %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">メールアドレス</th>
                <td class="no-border">
                  <%= form.text_field :email, class: 'form-control-3' %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">会員ステータス</th>
                <td class="no-border">
                  <%= form.radio_button :is_active, true, id: "customer_is_active_true" %>
                  <%= form.label :is_active_true, "有効　　", value: true, for: "customer_is_active_true" %>
                  
                  <%= form.radio_button :is_active, false, id: "customer_is_active_false" %>
                  <%= form.label :is_active_false, "退会　　", value: false, for: "customer_is_active_false" %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border"></th>
                <td class="text-center no-border">
                  <%= form.submit '変更を保存', class: "btn btn-pink" %>
                </td>
              </tr>

            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>