<div class="container mt-5">
 <h2 class="mb-4 text-center">配送先一覧</h2>
  <%= form_with model: @address, url: public_address_path(@address), method: :patch do |f| %>
  
    <%= render 'public/shared/error_messages', resource: @address %>
    
    <div class="row justify-content-center">
      <div style="margin-top: 50px;">
        <div class="row">
          <label style="width: 192px; background-color: #db7093; border-radius: 5px; padding: 8px; color: #ffffff #; text-align: center;">郵便番号</label>
          <div><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control", style: "margin-left: 30px;" %></div>
        </div>
    
        <div class="row">
          <label style="width: 192px; background-color: #db7093; border-radius: 5px; padding: 8px; color: #ffffff #; text-align: center;">住所</label>
          <div><%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control", style: "margin-left: 30px;" %></div>
        </div>
    
        <div class="row">
          <label style="width: 192px; background-color: #db7093; border-radius: 5px; padding: 8px; color: #ffffff #; text-align: center;">宛名</label>
          <div><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", style: "margin-left: 30px;" %></div>
        </div>
        
        <div class="row">
           <label></label>
          <%= f.submit "新規登録", class: "btn btn-success", style: "width: 210px; margin-left: 223px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
