<!-- /likes_fashion/app/views/public/reviews/index.html.erb -->
<div class='container' style="margin-top: 50px; margin-bottom: 100px;">
  <div class='row justify-content-center'>
    <div class="col-sm-8 col-md-7 col-lg-6 px-5 px-sm-0 mx-auto align-self-center text-start">
      <h3 class="text-center"><%= @item.name %>のレビュー</h3>
      <div class="review-summary text-center">
        ★評価：<h2 style="display: inline;"><%= @item.average_rating %></h2>
        <span>/ <%= @item.reviews.count %> レビュー</span>
      </div>

      <!--ソート機能実装-->
      <% if @reviews.any? %>
      <div class="text-right" style="margin-top: 30px; margin-bottom: 20px;">
        <select onchange="location = this.value;">
          <option value="<%= public_reviews_path(item_id: @item.id, sort: 'latest') %>" <%= 'selected' if params[:sort] == 'latest' %>>新しい順</option>
          <option value="<%= public_reviews_path(item_id: @item.id, sort: 'oldest') %>" <%= 'selected' if params[:sort] == 'oldest' %>>古い順</option>
          <option value="<%= public_reviews_path(item_id: @item.id, sort: 'highest_rated') %>" <%= 'selected' if params[:sort] == 'highest_rated' %>>評価の高い順</option>
        </select>
      </div>
      <!--ここまで-->
      
      <!--レビュー一覧-->
      <% @reviews.each do |review| %>
        <div class="card mb-4">
          <div class="card-header-1">
            ニックネーム：<%= review.nickname %>
            <span class="float-right"><%= review.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d ") %></span>
          </div>
          <div class="card-body">
            <h5 class="card-title">評価：
              <span class="star-rating">
                <% 5.times do |i| %>
                  <% if i < review.star %>
                    <span class="star">&#9733;</span> <!-- filled star -->
                  <% else %>
                    <span class="star">&#9734;</span> <!-- empty star -->
                  <% end %>
                <% end %>
              </span>
            </h5>
            <% if review.images.attached? %>  <!--画像の選択を可能にした-->
              <div class="review-images">
                <% review.images.each do |image| %>
                  <%= image_tag image, class: "img-fluid", style: "max-height: 300px; margin-bottom: 10px;" %>
                <% end %>
              </div>
            <% end %>
            
            <p class="card-text">コメント：<%= review.review_content %></p>
            
            <!-- レビューに対するお気に入り機能実装 -->
            <div class="text-right">
              <% if ReviewFavorite.favorited_by?(current_customer, review) %>
                <%= link_to public_review_review_favorites_path(review), method: :delete, remote: true, class: "favorite-link", data: { review_id: review.id } do %>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <span class="favorite-count"><%= review.review_favorites.count %></span>
                <% end %>
              <% else %>
                <%= link_to public_review_review_favorites_path(review), method: :post, remote: true, class: "favorite-link", data: { review_id: review.id } do %>
                  <i class="fa-regular fa-heart"></i>
                  <span class="favorite-count"><%= review.review_favorites.count %></span>
                <% end %>
              <% end %>

              <!-- 投稿したレビューを投稿した人だけが削除できるボタン -->
              <% if review.customer_id == current_customer.id %>
                <%= link_to '削除', public_review_path(review), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm ml-3" %>
              <% end %>
            </div>
          </div>
          
          <% review.comments.each do |comment| %>
            <div class="card-footer-1 text-muted thank-you-message" style="font-color: #000000;">
              <strong>管理者からのお礼コメント:</strong><br>
              <%= simple_format(comment.content) %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
        <%= paginate @reviews %>
      </div>
      <% else %>
        <p class="text-center" style="margin-top: 50px;"><%= image_tag 'review.png', style: "width: 300px; height: 220px;" %></p>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var selectElement = document.getElementById('sort-reviews');
      if (selectElement) {
          selectElement.addEventListener('change', function() {
              window.location.href = this.value;
          });
      } else {
          console.log('Element with ID `sort-reviews` not found.');
      }
  });
</script>