<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="table-responsive">
         <%= form_with model: @review, url: public_reviews_path, method: :post do |f| %>
          <table class="table table-hover table-inverse">

            <thead>
              <tr>
                <th colspan="2" class="no-border">
                  <h3 class="text-center">レビュー投稿</h3>
                </th>
              </tr>
            </thead>



              <tr class="no-border">
                <th class="no-border">商品名</th>
                <td class="no-border" style="font^size:20px;"><%= @item.name %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border">ニックネーム</th>
                <td class="no-border"><%= f.text_field :name, class: 'custom-field' %></td>
              </tr>

              <!--レビュー機能の実装-->
              <tr class="no-border">
                <th class="no-border">星評価</th>
                <td class="no-border">
                  <div id="post_raty"></div>
                  <input type="hidden" name="review[star]" id="review_star">
                  <script>
                    $('#post_raty').raty({
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      number: 5,
                      hints: ['1', '2', '3', '4', '5'],
                      click: function(score, evt) {
                        $('#review_star').val(score);
                        alert('評価: ' + score);
                      }
                    });
                  </script>
                </td>
              </tr>


              <tr class="no-border">
                <th class="no-border">コメント</th>
                <td class="no-border"><%= f.text_area :introduction, class: 'custom-textarea-field' %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border"></th>
                <td class="text-center no-border">
                <%= f.submit '新規登録', class: "btn btn-pink custom-btn" %>
                </td>
              </tr>


           <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>