<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="table-responsive">
         <%= form_with model: @review, url: public_reviews_path, method: :post do |f| %>
          <table class="table table-hover table-inverse">

            <thead>
              <tr>
                <th colspan="2" class="no-border">
                  <h3 class="text-center">レビュー投稿</h3>
                </th>
              </tr>
            </thead>
            
              <tr class="no-border">
                <th class="no-border">商品画像</th>
                <td class="no-border">
                  <%= f.file_field :image, accept: "image/*", class: "btn btn-outline-secondary" %>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border">商品名</th>
                <td class="no-border"><%= @item.name %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border">ニックネーム</th>
                <td class="no-border"><%= f.text_field :name, class: 'custom-field' %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border">星評価</th>
                <td class="no-border">
                  <div class="form-group row" id="star">
                    <%= f.hidden_field :star, id: :review_star %>
                　</div>
                  <script>
                　　　　$('#star').empty();
                  $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                 　 　　　scoreName  'item[star]',
                    half: false,
                  });
                  </script>
                </td>
              </tr>


              <tr class="no-border">
                <th class="no-border">コメント</th>
                <td class="no-border"><%= f.text_area :introduction, class: 'custom-textarea-field' %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border"></th>
                <td class="text-center no-border">
                <%= f.submit '新規登録', class: "btn btn-pink custom-btn" %>
                </td>
              </tr>


           <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>