<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <%= render 'public/shared/error_messages', resource: @review %>
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="table-responsive">
        <%= form_with model: @review, url: public_reviews_path(item_id: @item.id), method: :post, remote: true do |f| %>
          <table class="table table-hover table-inverse">

            <thead>
              <tr>
                <th colspan="2" class="no-border">
                  <h3 class="text-center">レビュー投稿</h3>
                </th>
              </tr>
            </thead>

              <tr class="no-border">
                <th class="no-border" style="padding-left: 120px;">商品名</th>
                <td class="no-border" style="font-size:20px; padding-right: 30px;"><%= @item.name %></td>
              </tr>
              
              <tr class="no-border">
                <th class="no-border" style="padding-left: 120px;">画像アップロード(任意)</th>
                <td class="no-border" style="padding-right: 30px;">
                  <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
                  <p style="font-size: 12px; color: grey; margin-top: 5px;">※画像は任意です。</p>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border" style="padding-left: 120px;">ニックネーム</th>
                <td class="no-border" style="padding-right: 30px;">
                  <%= f.text_field :nickname, class: 'custom-field' %>
                  <p style="font-size: 12px; color: red; margin-top: 5px;">※ニックネームは公開されますのでご注意ください</p>
                </td>
              </tr>

              <!--レビュー機能の実装-->
              <tr class="no-border">
                <th class="no-border" style="padding-left: 120px;">星評価</th>
                <td class="no-border" style="padding-right: 30px;">
                  <div id="post_raty"></div>
                  <input type="hidden" name="review[star]" id="review_star">
                  <script>
                  $(document).ready(function() {
                    $('#post_raty').raty({
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      number: 5,
                      hints: ['1', '2', '3', '4', '5'],
                      click: function(score, evt) {
                        $('#review_star').val(score);
                      }
                    });
                  });
                  </script>
                </td>
              </tr>

              <tr class="no-border">
                <th class="no-border" style="padding-left: 120px;">コメント</th>
                <td class="no-border" style="padding-right: 30px;"><%= f.text_area :review_content, class: 'custom-textarea-field' %></td>
              </tr>

              <tr class="no-border">
                <th class="no-border"></th>
                <td class="text-center no-border" style="padding-right: 30px;">
                <%= f.submit '新規登録', class: "btn btn-pink custom-btn" %>
                </td>
              </tr>
              
          </table>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>