<div class="row">
  <!--å·¦å´ã®ã‚«ãƒ†ã‚´ãƒªãƒ¼-->
  <div class="col-2 d-flex justify-content-center">
    <div class="container" style="margin-top: 150px;">
      <div class="categories">
        <h4 class="text-center">ã‚«ãƒ†ã‚´ãƒªãƒ¼</h4>
        <% @categories.each do |category| %>
        <div class="category text-center" style="font-size: 18px; color: #ffc0cb;">
          <%= link_to public_category_path(category) do %>
          <%= category.name %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-10">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <h2 class="text-center"><%= @category.name %></h2>
        <h3 class="text-center">ã€€(å…¨<%= @total_items %>ä»¶)</h3>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <% @items.each do |item| %>
        <% next unless item.status == "on_sale" %>
        <div class="col mb-4">
          <div class="card h-200">
            <% if item.image.attached? %>
              <%= link_to public_item_path(item) do %>
              <%= image_tag url_for(item.image), class: 'card-img-top' %>
              <% end %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= link_to item.name, public_item_path(item) %></h5>
              <div class="horizontal-links">
                <div class="card-text">Â¥<%= number_with_delimiter(item.price_without_tax) %></div>
                <div class="card-text"><%= link_to 'ðŸ’¬ reviews', public_reviews_path %></div>

                 <!--ãŠæ°—ã«å…¥ã‚Šã®å®Ÿè£…-->
                <div class="card-text">
                  <% if Favorite.favorited_by?(current_customer, item) %>
                    <%= link_to public_item_favorites_path(item_id: item.id), method: :delete do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= item.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to public_item_favorites_path(item_id: item.id), method: :post do %>
                      <i class="fa-regular fa-heart"></i>
                      <%= item.favorites.count %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>