<div class="col-sm-15 col-md-13 col-lg-10 px-8 px-sm-0 mx-auto align-self-center text-start justify-content-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mt-4 ">sign up</h2>
      <p class="mt-4"></p>
      
      <h5 class="text-center mt-5">新規会員の方はお手数ですがフォームの入力をお願いいたします。</h5>
      <p class="md-5"></p>
      
        
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div>
        <%= render "public/shared/error_messages", resource: resource %>
        </div>

        <table>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>

          <tbody>

              <tr>
                <td class="mb-2 mt-5">名前</td>
                <td class="field">
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "mb-2 mx-5", placeholder: ' 姓' %>
                </td>

                <td class="field">
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "mb-2 mx-1", placeholder: ' 名' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">フリガナ</td>
                <td class="field">
                  <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "mb-2 mx-5", placeholder: ' セイ' %>
                </td>

                <td class="mb-2"="field">
                  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "mb-2 mx-1", placeholder: ' メイ' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">メールアドレス</td>
                <td class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-2 mx-5", placeholder: ' sample@gmail.com' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">郵便番号<br>(ハイフンなし)</td>
                <td class="field">
                  <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "mb-2 mx-5", placeholder: ' 1230001' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">住所</td>
                <td class="field">
                  <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "mb-2 mx-5", placeholder: ' 東京都品川区2-3' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">電話番号<br>(ハイフンなし)</td>
                <td class="field">
                  <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "mb-2 mx-5", placeholder: ' 05044531111' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">パスワード</td>
                <td class="field">
                  <%= f.password_field :password, autocomplete: "new-password", class: "mb-2 mx-5", placeholder: ' 6文字以上の半角英数字' %>
                </td>
              </tr>

              <tr>
                <td class="mb-2">確認用パスワード</td>
                <td class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-2 mx-5" %>
                </td>
              </tr>

               <tr>
                 <td class="mb-2"></td>
                 <td>
                   <%= f.submit "新規登録", class: "btn btn-primary btn-block w-75 mb-3 mx-5" %>
                 </td>
               </tr>

        </tbody>
       </table>
      <% end %>
    
      <h3 class="mt-5 mb-2">既に登録済みの方</h3>
        <p><%= link_to "こちら", new_customer_session_path %>　からログインしてください。</p>

    </div>
  </div>
</div>