<div class="col-sm-10 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <p><%= render 'admin/shared/error_messages', resource: @category %></p>
    <div class="row">
      <div class="col text-center"><h3>カテゴリー 追加・一覧</h3></div>
    </div>

    <div class="text-center">
      <%= form_with url: admin_categories_path, model: @category do |f| %>

        <div class="form-group">
          <%= f.text_field :name, class: 'form-control-1', placeholder: 'カテゴリー名' %>
        </div>

        <div class="text-center mb-3">
        <%= f.submit '新規登録', class: "btn btn-pink", style: "width: 400px;" %>
        </div>

      <% end %>

      <table class="table table-hover table-inverse">
        <tbody class="no-border">
          <% @categories.each do |category| %>
            <div class="no-border">
              <tr class="text-center no-border">
                <td class="text-center no-border" style="min-width: 220px;"><%= category.name %></td>

                <td class="text-left no-border">
                  <%= link_to '編集する', edit_admin_category_path(category), class: "btn btn-success btn-sm", style: "margin-right: -0px;" %>
                  <%= link_to '削除する', admin_category_path(category), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: '本当に削除しますか？' } %>
                </td>
              </tr>
            </div>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <%= paginate @categories %>
      </div>
    </div>
  </div>
</div>