<div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto align-self-center text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8"> <!-- col-xl-10からcol-xl-8に変更 -->
        <div class="table-responsive"> <!-- 追加 -->
          <table class="table table-hover table-inverse">

            <thead>
              <tr class="no-border">
                <th colspan="2" class="no-border">
                  <h3 class="text-center">カテゴリー 一覧/追加</h3>
                </th>
              </tr>
            </thead>


            <tbody>
              <tr class="justify-content-center">
                 <th colspan="1">
                <td> <!-- 新しい行を追加 -->
                  <%= form_with url: admin_categories_path, model: @category do |f| %>
                    <div class="form-group">
                      <%= f.text_field :name, class: 'form-control', placeholder: 'カテゴリー名' %>
                    </div>
                    <%= f.submit '新規登録', class: "btn btn-pink btn-block" %>
                  <% end %>
                </td>
                <td></td>
              </tr>


              <% @categories.each do |category| %>
                <tr class="justify-content-center">
                  <td class="text-center"><%= category.name %></td>
                  <td><%= link_to '編集する', edit_admin_category_path(category), class: "btn btn-success btn-sm", style: "margin-left: 350px;" %></td>
                  <td><%= link_to '削除する', admin_category_path(category), method: :delete, class: "btn btn-danger btn-sm", style: "margin-left: 50px;" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
