<div class="col-sm-10 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col text-center"> <!-- タイトルを真ん中に揃える -->
        <h3>カテゴリー 追加・一覧</h3>
      </div>
    </div>
    
    <div class="text-center"> <!-- テーブルを真ん中に揃える -->
      <table class="table table-hover table-inverse">
        
        <tbody>
          <tr class="col text-center">
                <%= form_with url: admin_categories_path, model: @category do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: 'form-control-1', placeholder: 'カテゴリー名' %>
                </div>
                <div class="text-center">
                <%= f.submit '新規登録', class: "btn btn-pink", style: "width: 400px;" %>
                <% end %>
                </div>
          </tr>
          
          <tr class="no-border"><!-- 間隔 -->
            <td class="no-border"></td>
          </tr>
          
          <% @categories.each do |category| %>
          <div class="no-border">
            <tr class="justify-content-center no-border">
              <td class="text-center no-border" style="width: 400px;"><%= category.name %></td>
              
              <td class="text-right no-border">
                <%= link_to '編集する', edit_admin_category_path(category), class: "btn btn-success btn-sm", style: "margin-right: 40px;" %>
                <%= link_to '削除する', admin_category_path(category), method: :delete, class: "btn btn-danger btn-sm", style: "margin-right: 30px;" %>
              </td>
          
            </tr>
          <% end %>
          </div>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <%= paginate @category %>
      </div>
      
    </div>
  </div>
</div>