<div class="col-sm-13 col-md-11 col-lg-9 px-7 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <h3 class="text-center" style="margin-bottom: 30px;">注文履歴一覧</h3>
  <table class="order-table table">

    <thead>
      <tr style="margin-top: 50px;">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>レビュー</th>
        <th>支払金額(税込)</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>

    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M ") %></td>

        <td>
          〒<%= current_customer.postal_code %><br/>
          <%= current_customer.address %><br/>
          <%= current_customer.last_name %> <%= current_customer.first_name %>
        </td>

        <td>
          <% order.order_details.each do |order_detail| %>
          <p ><%= order_detail.item.name %><br></p>
          <% end %>
        </td>


        <td>
          <% order.order_details.each do |order_detail| %>
          <p><%= link_to 'レビュー', new_public_review_path(item_id: order_detail.item_id), class: "btn btn-danger btn-sm" %><br></p>
            <% end %>
        </td>

        <td>
          <% @total_payment = 0 %>
          <% order.order_details.each do |order_detail| %>
            <% subtotal = (order_detail.item.price * order_detail.amount) %>
            <% @total_payment += (subtotal * 1.1).floor.to_i %>
          <% end %>
          <%= number_to_currency(@total_payment + 800, unit: '￥', format: "%u%n") %>
        </td>

        <td><%= order.status %></td>

        <td>
          <div style="margin-top: 15px;">
            <%= link_to '表示する', public_order_path(order.id), class: "btn btn-primary" %>
          </div>
        </td>
    </tbody>
    <% end %>
  </table>
    <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <%= paginate @orders %>
    </div>
</div>