<div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">注文履歴詳細</h3>
      
      <div style="margin-top: 50px;" class:>
      <table border="1" >
        <tr>
          <td class="active" style="width:200px;">注文日</td>
          <td style="width:350px;"><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        
        <tr>
          <td class="active">配送先</td>
          <td>
            <%= @order.postal_code %>
            <%= @order.address %>
            <%= @order.customer.last_name %> <%= @order.customer.first_name %>
          </td>
        </tr>
        
        <tr>
          <td class="active">支払方法</td>
          <td><%= t("enums.order.payment_method.#{@order.payment_method}") %></td>
        </tr>
        
        <tr>
          <td class="active">注文ステータス</td>
          <td><%= @order.status %></td>
        </tr>
        
        </div>
      </table>
      
      <table border="2">
        <tr>
          <th class="active col-xs-6">商品</th>
          <th class="active">単価（税込）</th>
          <th class="active">個数</th>
          <th class="active">小計</th>
        </tr>
        
        <div style="margin-top: 200px;">
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td>¥<%= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
        
      </table>
      
      <div style="margin-top: 100px; left: 500px;">
        <table border="3">
          <tr>
            <td class="active">商品合計</td>
            <td>¥<%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
          </tr>
            
          <tr>
            <td class="active">配送料</td>
            <td>¥<%= @order.shipping_cost %></td>
          </tr>
          
          <tr>
            <td class="active"><b>ご請求額</b></td>
            <td>¥<%= "#{@order.total_payment.to_s(:delimited)}"%></td>
          </tr>
        </table>
        
    </div>
  </div>
</div>

