<div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">注文履歴詳細</h3>

      <!-- 注文情報のテーブル -->
      <div class="table-responsive" style="margin-top: 50px;">
        <table class="table mx-auto text-center">

          <tr>
            <td class="active" style="width:200px;">注文日</td>
            <td style="width:350px;"><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>

          <tr>
            <td class="active">配送先</td>
            <td>
              〒<%= current_customer.postal_code %>
              <%= current_customer.address %><br/>
              <%= current_customer.last_name %> <%= current_customer.first_name %>
            </td>
          </tr>

          <tr>
            <td class="active">支払方法</td>
            <td><%= t("enums.order.payment_method.#{@order.payment_method}") %></td>
          </tr>

          <tr>
            <td class="active">注文ステータス</td>
            <td><%= @order.status %></td>
          </tr>

        </table>
      </div>

      <!-- 注文詳細のテーブル -->
      <div class="table-responsive" style="margin-top: 50px;">
        <table class="table mx-auto text-center">
          <tr>
            <th class="active">商品</th>
            <th class="active">単価(税抜)</th>
            <th class="active text-center">個数</th>
            <th class="active">小計</th>
          </tr>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td>￥<%= number_with_delimiter(order_detail.price, delimiter: ',') %></td>
                <td><%= order_detail.amount %></td>
                <td>￥<%= number_with_delimiter(order_detail.price * order_detail.amount, delimiter: ',') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- 合計金額のテーブル -->
      <div style="margin-top: 50px;">
        <table border="3" style="width: 400px; margin-left: auto; margin-right: auto;" class="text-center">
          <tr>
            <td class="active">配送料</td>
            <td>¥<%= @order.shipping_cost %></td>
          </tr>
          
          <tr>
            <td class="active">商品合計金額(税込)</td>
            <td>
              <% subtotal = @order_details.sum { |order_detail| order_detail.price * order_detail.amount } %>
              <% total_with_tax = (subtotal * 1.1).floor.to_i %>
              <%= number_to_currency(total_with_tax, unit: '￥', format: "%u%n") %>
            </td>
          </tr>
          
          <tr>
            <td class="active"><b>ご請求額(税込)</b></td>
            <td><%= number_to_currency(total_with_tax + @order.shipping_cost, unit: '￥', format: "%u%n") %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  @media (max-width: 768px) {
    .table {
      font-size: 14px; /* テーブル内のフォントサイズを小さく調整 */
    }
  
    .px-5 {
      padding-left: 1rem; /* 左右のパディングを調整 */
      padding-right: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .table {
      font-size: 12px; /* 更に小さなデバイスでフォントサイズを小さく */
    }
  
    h3 {
      font-size: 16px; /* タイトルのフォントサイズ調整 */
    }
  }
</style>