<div class="row">

  <!-- 左のカテゴリー一覧 -->
  <div class="col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">
    <!-- メニューボタンは画面が小さい時のみ表示されるようにする -->
    <div class="container" style="margin-top: 150px;">
      <!-- デスクトップ用カテゴリー -->
      <div class="categories d-none d-md-block">
        <h4 class="text-center mb-4">CATEGORY</h4>
        <% @categories.each do |category| %>
          <div class="category text-center" style="font-size: 18px; color: #ffc0cb;">
            <%= link_to public_category_path(category) do %>
              <%= category.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- モバイル用プルダウンメニュー -->
      <select class="form-control-4 d-md-none" onchange="location = this.value;">
        <option selected disabled>カテゴリーを選択</option>
        <% @categories.each do |category| %>
          <option value="<%= public_category_path(category) %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="col-10">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <h1 class="text-center" style="margin-bottom: 10px;">items</h1>
        <h4 class="text-center mt-3">　(全<%= @total_items %>件)</h4>
      </div>
      <!--ソート機能実装-->
      <p class="text-right">
        <%= link_to '新しい順', public_items_path(sort: "latest") %>
      | <%= link_to '古い順', public_items_path(sort: "oldest") %>
      | <%= link_to '評価の高い順', public_items_path(sort: "highest_rated") %>
      </p>
      <!--ここまで-->
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <% @items.each do |item| %>
        <div class="col mb-4">
          <div class="card h-200">
            <% if item.image.attached? %>
              <%= link_to public_item_path(item) do %>
              <%= image_tag url_for(item.image), class: 'card-img-top' %>
              <% end %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= link_to item.name, public_item_path(item) %></h5>
              <div class="horizontal-links">
                <div class="card-text">¥<%= number_with_delimiter(item.price_without_tax) %></div>

                <div class="card-text">
                  <%= link_to '💬', public_reviews_path(item_id: item.id) %>
                  <%= item.reviews.count %>
                </div>

                <!--いいね機能の実装-->
                <div class="card-text">
                  <% if Favorite.favorited_by?(current_customer, item) %>
                    <%= link_to public_item_favorites_path(item_id: item.id), method: :delete, remote: true, class: "favorite-link", data: { item_id: item.id } do %>
                      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                      <span class="favorite-count"><%= item.favorites.count %></span>
                    <% end %>
                  <% else %>
                    <%= link_to public_item_favorites_path(item_id: item.id), method: :post, remote: true, class: "favorite-link", data: { item_id: item.id } do %>
                      <i class="fa-regular fa-heart"></i>
                      <span class="favorite-count"><%= item.favorites.count %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
      <%= paginate @items %>
    </div>

  </div>
</div>

<style>
  .menu-image {
    width: 50px;
    height: auto;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .categories {
      display: none;
    }
  }
</style>