<header style="background-color: #FAD4D4">
  <nav class="navbar navbar-expand-lg navbar-light">

      <!-- ãƒ­ã‚´ã‚’å·¦ä¸­å¤®ã«é…ç½®ã™ã‚‹ãŸã‚ã®è¦ç´  -->
      <div class="text-center">
        <a class="navbar-brand p-3" href="/"><%= image_tag("Logo1.png", size: "100x100") %></a>
      </div>

      <!--ãƒãƒ³ãƒãƒ¼ã‚¬ãƒ¼ã®ãƒ¡ãƒ‹ãƒ¥ãƒ¼ä½œæˆ-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--ãƒŠãƒ“ã‚²ãƒ¼ã‚·ãƒ§ãƒ³ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã®ä½œæˆ-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <a>

          <!-- é¡§å®¢ã‚‚ç®¡ç†è€…ã‚‚ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ãªã„å ´åˆ -->
          <% unless admin_signed_in? || customer_signed_in? %>

         <!--style: 'margin-right: 10px;'ã¯æ¨ªã«10pxã®ä½™ç™½ã‚’å…¥ã‚Œã¦ã„ã‚‹-->

          <p>
            <%= link_to new_customer_registration_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-user-plus"></i>sign up
            <% end %>
          </p>

          <p>
            <%= link_to new_customer_session_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i> log in
            <% end %>
          <p>

          <p>
            <%= link_to public_guest_sign_in_path, class: 'navlink text-black', style: 'margin-right: 10px;', method: :post do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i> guest login
            <% end %>
          <p>

          <p>
            <%= link_to public_items_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p>
            <%= link_to about_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-house-laptop"></i> about
            <% end %>
          <p>

          <p>
            <%= link_to new_admin_session_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-key"></i> log in
            <% end %>
          </p>

          <% end %>


          <!-- ç®¡ç†è€…ãŒãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹å ´åˆ -->
          <% if admin_signed_in? %>


          <p>
            <%= link_to admin_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p>
            <%= link_to admin_categories_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-list"></i> categorys
            <% end %>
          </p>

          <p>
            <%= link_to admin_customers_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-users"></i> customers
            <% end %>
          </p>

          <p>
            <%= link_to admin_customers_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-comments"></i> reviews
            <% end %>
          </p>


          <p>
            <%= link_to admin_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-cart-shopping"></i>orders
            <% end %>
          </p>

          <p>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-right-from-bracket"></i> log out
            <% end %>
          </p>

          <% end %>


          <!-- é¡§å®¢ãŒãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹å ´åˆ -->
          <% if customer_signed_in? %>

          <p>
            <%= link_to public_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p>
            <%= link_to public_cart_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-cart-plus"></i> cart
            <% end %>
          </p>

          <p>
            <%= link_to public_customer_path(current_customer.id),class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-user"></i> my page
            <% end %>
          </p>

          <p>
            <%= link_to public_favorites_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-heart"></i> favorite
            <% end %>
          </p>

          <p>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-right-from-bracket"></i> log out
            <% end %>
          </p>

          <% end %>

          </a>
        </ul>
      </div>
  </nav>
  
   <div class= "text-right mr-4">
        <!-- é¡§å®¢ã‚‚ç®¡ç†è€…ã‚‚ãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ãªã„å ´åˆã®æ¤œç´¢ãƒœãƒƒã‚¯ã‚¹ -->
        <% unless admin_signed_in? || customer_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "å•†å“åã‚’æ¤œç´¢" %>
            <%= f.submit "ðŸ”" %>
          <% end %>
        <% end %>
        
        <!-- é¡§å®¢ãŒãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ã„ã‚‹å ´åˆã®æ¤œç´¢ãƒœãƒƒã‚¯ã‚¹ -->
        <% if customer_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "å•†å“åã‚’æ¤œç´¢" %>
            <%= f.submit "ðŸ”" %>
          <% end %>
        <% end %>
        
        <% if admin_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :content %>
            <%= f.select :model, options_for_select({"Customer" => "customer", "Item" => "item"}) %>
            <%= f.select :method, options_for_select({"å®Œå…¨ä¸€è‡´" => "perfect", "å‰æ–¹ä¸€è‡´" => "forward", "å¾Œæ–¹ä¸€è‡´" => "backward", "éƒ¨åˆ†ä¸€è‡´" => "partial"}) %>
            <%= f.submit "ðŸ”" %>
          <% end %>
        <% end %>
      </div>
      
      <div class="mt-5"></div>
      
</header>