<header style="background-color: #FAD4D4">
  <nav class="navbar navbar-expand-lg navbar-light">

      <!-- ロゴを左中央に配置するための要素 -->
      <div class="text-center">
        <%= link_to image_tag("logo1.png", style: "width: 150px; height: 120px;"), root_path %>
      </div>

      <!--ハンバーガーのメニュー作成-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--ナビゲーションメニューの作成-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <a>
          <!-- 顧客も管理者もログインしていない場合 -->
          <% unless admin_signed_in? || customer_signed_in? %>

          <p class="mb-0">
            <%= link_to new_customer_registration_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-user-plus"></i>sign up
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to new_customer_session_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i> log in
            <% end %>
          <p>

          <p class="mb-0">
            <%= link_to public_guest_sign_in_path, class: 'navlink text-black', style: 'margin-right: 10px;', method: :post do %>
            <i class="fa-solid fa-arrow-right-to-bracket"></i> guest login
            <% end %>
          <p>

          <p class="mb-0">
            <%= link_to public_items_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to about_path, class: 'navlink text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-house-laptop"></i> about
            <% end %>
          <p>

          <% end %>

          <!-- 管理者がログインしている場合 -->
          <% if admin_signed_in? %>

          <p class="mb-0">
            <%= link_to admin_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to admin_categories_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-list"></i> categorys
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to admin_customers_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-users"></i> customers
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to admin_reviews_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-comments"></i> reviews
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to admin_orders_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-cart-shopping"></i>orders
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-right-from-bracket"></i> log out
            <% end %>
          </p>

          <% end %>

          <!-- 顧客がログインしている場合 -->
          <% if customer_signed_in? %>

          <p class="mb-0">
            <%= link_to public_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-shirt"></i> items
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to public_cart_items_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-cart-plus"></i> cart
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to public_customer_path(current_customer.id),class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-user"></i> my page
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to public_favorites_path,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-heart"></i> favorite
            <% end %>
          </p>

          <p class="mb-0">
            <%= link_to  destroy_customer_session_path, method: :delete,class: 'nav-link text-black', style: 'margin-right: 10px;' do %>
            <i class="fa-solid fa-right-from-bracket"></i> log out
            <% end %>
          </p>

          <% end %>
          </a>
        </ul>
      </div>
  </nav>

  <div class="text-right mr-3 pb-2 search-container">
    <!-- 顧客も管理者もログインしていない場合の検索ボックス -->
    <% unless admin_signed_in? || customer_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true, class: 'form-style' do |f| %>
        <%= f.text_field :content, placeholder: "商品名を検索", class: 'input-style' %>
        <%= f.submit "🔍", class: 'submit-style' %>
      <% end %>
    <% end %>

    <!-- 顧客がログインしている場合の検索ボックス -->
    <% if customer_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true, class: 'form-style' do |f| %>
        <%= f.text_field :content, placeholder: "商品名を検索", class: 'input-style' %>
        <%= f.submit "🔍", class: 'submit-style' %>
      <% end %>
    <% end %>

    <!-- 管理者がログインしている場合の検索ボックス -->
    <% if admin_signed_in? %>
      <%= form_with url: search_path, method: :get, local: true, class: 'form-style' do |f| %>
        <%= f.text_field :content, placeholder: "検索キーワードを入力", class: 'input-style' %>
        <%= f.select :model, options_for_select({"Customer" => "customer", "Item" => "item"}, selected: params[:model]), class: 'select-style' %>
        <%= f.hidden_field :method, value: "partial" %>
        <%= f.submit "🔍", class: 'submit-style' %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-5"></div>

  <style>
  .search-container {
    text-align: right;
    margin-right: 16px;
    padding-bottom: 12px;
  }

  .form-style {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #ffcccc; /* ライトピンク */
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 4px 10px;
  }

  .input-style[type="text"] {
    border: 2px solid #ffcccc; /* ライトピンク */
    border-radius: 20px;
    padding: 6px;
    outline: none;
    width: 200px; /* フィールドの幅を調整可能 */
  }

  .select-style {
    border: 2px solid #ffcccc; /* ライトピンク */
    border-radius: 20px;
    padding: 8px;
    background: white;
    color: #666;
    outline: none;
  }

  .submit-style {
    background-color: #ffcccc; /* ライトピンク */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .submit-style:hover {
    background-color: #ff99aa; /* より明るいピンク */
  }
</style>

</header>